[Unit]
Description=Camera image server.
After=multi-user.target mongodb.service

[Service]
ExecStart=node /opt/camera_server/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=camera_server
User=pi_camera
Group=pi_camera
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
