[Unit]
Description=MongoDb
After=multi-user.target

[Service]
Restart=always
EnvironmentFile=/etc/sysconfig/mongod
ExecStart=/usr/bin/mongod $OPTIONS run
User=picam
Group=picam

[Install]
WantedBy=multi-user.target
