[Unit]
Description=Camera motion detection service.
After=multi-user.target camera_server.service

[Service]
Restart=always
Type=idle
EnvironmentFile=/etc/sysconfig/motion_camera
ExecStart=/usr/bin/python3 /usr/local/bin/motion_camera/motion_camera.py $OPTIONS > /var/log/motion_camera/current.txt 2>&1

[Install]
WantedBy=multi-user.target
