[Unit]
Description=Camera motion detection service.
After=multi-user.target camera_server.service

[Service]
Restart=always
Type=idle
ExecStart=/usr/bin/python3 /opt/motion_camera/motion_camera.py --server http://localhost:8000/api/events --camera_name PiCamera1 --location BenLomond --output_dir /opt/camera_server/public/images

[Install]
WantedBy=multi-user.target
